<a href="https://colab.research.google.com/github/hwaraha/Chapter-10/blob/main/LAB10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#LAB 10-1
#1
def sub(x, y):
  return x - y
print("200 - 100 = ", sub(200, 100))

In [ ]:
#2
sub = lambda x , y: x -y
print("200 - 100 = ", sub(200, 100))

In [ ]:
#LAB 10-2
#1
n_list = [1,2,3,4,5,6,7,8,9,10]
def even_func(x):
  if x % 2 == 0:
    return True
  else:
    return False

even_list = []
for x in filter(even_func, n_list):
  even_list.append(x)
print("even_list = ", even_list)

even_list =  [2, 4, 6, 8, 10]

In [ ]:
#2
n_list = [1,2,3,4,5,6,7,8,9,10]
def odd_func(x):
  if x % 2 != 0:
    return True
  else:
    return False

odd_list = []
for x in filter(odd_func, n_list):
  odd_list.append(x)
print('odd_list = ', odd_list)

odd_list =  [1, 3, 5, 7, 9]

In [ ]:
#LAB 10-3
#1
a_list = ['a','b','c','d']
square_a = list(map(lambda x: x.upper(), a_list)) 
print(square_a)

['A', 'B', 'C', 'D']

In [ ]:
#2
n_list = [10,20,30]
twice_n = list(map(lambda x: x*2, n_list))
print(twice_n)

[20, 40, 60]

In [ ]:
#3
n_list = [10,20,30]
triple_n = list(map(lambda x: x*3, n_list))
print(triple_n)

[30, 60, 90]

In [ ]:
#LAB 10-4
#1
a = [x for x in range(1, 101)]
print(a)
from functools import reduce
n = reduce(lambda x, y: x + y, a)
print("1에서 100까지의 합 : ", n)

In [ ]:
#2
a = [x for x in range(1, 11)]
from functools import reduce
n = reduce(lambda x, y: x*y, a)
print("10! = ", n)

10! =  3628800

In [ ]:
#LAB 10-5
#1
cubic = [1,2,3,4,5,6,7,8,9,10]
cubic = list(map(lambda x:x**3, cubic))
print(cubic)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [ ]:
#2
a = ["welcome", "to", "the", "python", "world"]
a = list(map(lambda x:x[0], a))
print(a)

['w', 't', 't', 'p', 'w']

In [ ]:
#LAB 10-6
#1
cubic = [x**3 for x in range(1,8)]
print("cubic = ", cubic)

cubic =  [1, 8, 27, 64, 125, 216, 343]

In [ ]:
#2
st = 'Hello 1234 python'
a = st[6:10]
a = list(map(lambda x:x[0], a))
print(a)

['1', '2', '3', '4']

In [ ]:
#LAB 10-7
#1
class EvenCounter:
  def __init__(self, n = 0):
    self.n = n
  def __iter__(self):
    return self
  def __next__(self):
      if self.n < 10:
        t = self.n
        self.n += 2
        return t
      raise StopIteration
  
my_counter = EvenCounter()
for x in my_counter:
  print(x, end =' ')

0 2 4 6 8

In [ ]:
#2
class EvenCounter:
  def __init__(self, n = 0):
    self.n = n
  def __iter__(self):
    return self
  def __next__(self):
      for self.n in range(0, 21):
        t = self.n
        return t
      raise StopIteration
  
my_counter = EvenCounter()
for x in my_counter:
  print(x, end =' ')

#LAB 10-8
#1
['Welcome', 'to', 'Busan', 'Metropolian', 'City']

#2

['Hello', 'My name is DongMin', 'Good to see you again']

In [ ]:
#3
fruits = ['Apple', 'Banana', 'Melon', 'Orange']
fruits.split('|')